@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white rounded-md px-4 py-2;
  }
  .btn-secondary {
    @apply bg-gray-500 text-white rounded-md px-4 py-2;
  }
  .btn-danger {
    @apply bg-red-500 text-white rounded-md px-4 py-2;
  }

}
@layer utilities  {
  .customeBorder {
    width:92%;
    height:400px;
    display: grid;
    border: 1px solid black;
  }
}
